body {
  height: 100vh;
  background-color: #f5f5f5;
  font-family: "IRANSANS";
}
@font-face {
  font-family: IRANSANS;
  src: url(./assets/fonts/IRANSansX-Medium.woff);
}
.storage::-webkit-scrollbar {
  width: 0px;
  height: 1rem;
}
.eghlim::-webkit-scrollbar {
  width: 0px;
  height: 1rem;
}
.statusBox::-webkit-scrollbar {
  width: 12px;
  direction: ltr;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c8c8c8;
  border-radius: 6px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background: #6e6e6e;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #424242;
}
.add-field-btn :hover {
  cursor: pointer;
}
.on-and-off-btn:hover {
  cursor: pointer;
}
.close-btn:hover {
  cursor: pointer;
}

.on-and-off-btn {
  transition: opacity 0.2s ease, transform 0.2s ease;
}

.on-and-off-btn.changing {
  opacity: 0;
  transform: scale(0.95); /* Slight shrink effect */
}
.button:hover {
  cursor: pointer;
}

.payesh-svg {
  width: 55px;
  height: 55px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
